@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.header .logo {
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
}

.nav a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
}

.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}

.nav a:hover::after{ 
    transform: scaleX(1);
}

.home {
    position: relative;
    width: 100%;
    height: 150vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px 0;
}

.home .content { 
    max-width: 600px;
    color:#fff;

}

.content  h2 {
    font-size: 3em;
    letter-spacing: .03em;
}

.home .wrapper-login {
    position: relative;
    width:440px;
}

.content p {
    margin: 10px 0 40px;
}

.content a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 40px;
    transition: 1s;
}

.content a:hover {
    background: rgb(22, 18, 18);
}

.home .wrapper-login {
    position: relative;
    width: 440px;
}

.wrapper-login h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.wrapper-login .input-box {
    position: relative; 
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.input-box input {
    width: 100%;
    height:100%;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 25px 0 45px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    font-size: .8em;
    top: -14px;
    left: 17px;
}

.input-box .icon {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: #fff;
}

.wrapper-login .remember-forgot {
    font-size: .9em;
    color: #fff;
    margin: -25px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: rgb(14, 9, 9);
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper-login .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg, black, rgb(33, 34, 41));
    box-shadow: 0 8px 10px rgba(red, green, blue, alpha);
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;

}

.wrapper-login .register-link {
    font-size:  .9em;
    color: #fff;
    text-align: center;
    margin: 30px 0;

}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover { 
    text-decoration: underline;
}
.menu{
    height: 700px;
    width: 700px;
    background-color: transparent;
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    color: white;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;

}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #ffffff;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: rgb(19, 15, 15);
}

.container {
    max-width: 800px;
    margin: auto;
}

.cart-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px
}

.cart-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.cart-item {
    display: flex;
    align-items: center;
    width: 35%;
}

.cart-price { 
   display: flex;
   align-items: center;
   width: 35%;
}

.cart-quantity {
    display: flex;
    align-items: center;
    width: 35%;
}


.cart-item-title {
    color: black;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 50px;
    height: 50;
    margin-right: 10px;
    border-radius: 5px;
}

.btn-danger {
    color:#fff;
    background-color: black;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: rgb(194, 14, 14);
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    margin-top: 20px;
    margin-right: 10px;
}
.cart-total-title {
    margin-right: 10px;
}

.cart-total-price {
    font-weight: bold;
}
.cart-item-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #15171a;
    color: #f5f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0c0d0e;
}
.btn-checkout {
    display: block;
    margin: 40px auto 50px auto;
    font-size: 1.75em;
}

